/* Layout */
.main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
    background-color: #282D57;
}
    .clockbox,
    #clock {
    	width: 100%;
}
    /* Clock styles */
    .circle {
        fill: #A8B47B; 
        stroke: #000;
        stroke-width: 9;
        stroke-miterlimit: 10;
}
    .mid-circle {
    	fill: #000;
		stroke: #000;
        stroke-width: 3;
        stroke-miterlimit: 10;}
    .hour-marks {
        fill: none;
        stroke: #000;
        stroke-width: 5;
        stroke-miterlimit: 10;
}
    .hour-arm {
        fill: none;
        stroke: #000;
        stroke-width: 11;
        stroke-miterlimit: 10;
}
.minute-arm {
		fill: none;
		stroke: #000;
        stroke-width: 8;
        stroke-miterlimit: 10;
}
    .second-arm {
        fill: #000;
        stroke: #FF0303;
        stroke-width: 3;
        stroke-miterlimit: 8;
}
/* Transparent box ensuring arms center properly. */
    .sizing-box {
        fill: none;
}
/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
    #hour,
    #minute,
    #second {
    transform-origin: 300px 300px;
    transition: transform .5s ease-in-out;
    }
